body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  /* font-family: 'Poppins', sans-serif; */
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f44;
}

.logo {
  margin-left: 1rem;
  color: white;
  font-size: 40px;

  font-weight: bold;
}

.items {
  display: flex;
}

.item {
  display: flex;
  margin: 25px;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.link {
  cursor: pointer;
  color: #eb989b;
  font-size: large;
}
.link:hover {
  color: #1f1f44;
  background-color: wheat;
  padding: 3px;
}
.title {
  border-bottom: 1px solid #1f1f44;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
  font-size: larger;
  font-weight: 900;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(96, 88, 88, 0.6);
  z-index: 10000;
}

/****************
 * LOAD SPINNER
 ****************/

.lds-roller {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  margin-top: -40px;
  margin-left: -40px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #4e75d0;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.doc-image {
  max-width: 500px;
  max-height: 300px;
}
