@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.logo{
    font-family: 'Rubik', sans-serif;
}

.logo:hover{
    color: rgb(75, 181, 117);
}

li .nav-link{
    color: white;
    font-size: 16px;
    
}

li .nav-link:hover{
    color: rgb(75, 181, 117);
    font-family: 'Rubik', sans-serif;
}
